/* Body settings */

:root{
    --pink:#FF6699;
    --green:#16FFBD;
    --black:#0D0916;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

   
}

@font-face {
    font-family: Manrope;
    src: url(Manrope[wght].woff2);
}

body{
    font-family: Manrope;
    background-color: var(--green);

}

section{
    scroll-snap-type: y proximity;
}
/* First Page */

#intro{
    width: 90%;
    margin: auto;
    margin-top: 88px;

}


#introHeader h5{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.5em;
    padding-left: 8px;
    padding-bottom: 5px;
    padding-top: 3px;
    border: 1px solid;
    color: var(--pink);

}

#introHeader h1{
    text-align: right;
    font-weight: 800;
    font-size: 17vw;
    text-transform: uppercase;
    padding-right: 17px;
    border: 1px solid;
    margin-top: -1px;
    color: var(--pink);
    
}

#introHeader{
    margin-bottom: 40px;
}


#introTxt{
    width: 75%;
    margin: auto;
    text-align: justify;
    text-justify: inter-word;

}

#introSklls{
    width: 100%;
    margin: auto;
    margin-top: 50px;
}

#introSklls h2{
    margin-top: 100px;
    background-color: var(--pink);
    color: var(--green);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 30px;
    padding-left: 10px;
    margin-top: 5px;
}

.introPlus{
    width: 90%;
    margin: auto;
    height: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.plusRight{
    float: right;
}
.squareRight{
    background-color: var(--pink);
    width: 10px;
    height: 10px;
    float: right;
    margin-right: 10px;
}

/* Second Page*/

h3{
    font-size: 85px;
    font-weight: 800;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    color: var(--black);
    z-index: 2;
    color: var(--green);

}

#earlyLifeHeader{
    display: flex;
    background-color: var(--pink); 
    margin-top: 50px;
    padding-top: 20px;
}

#earlyLifeMusic{
    background-color: var(--pink);
    float: right;
    text-align: justify;
    text-justify: inter-word;

}

#earlyLifeMusic p{
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    background-color: var(--green);
}

#earlyLifeGraphicDesign img{
    width: 70%;
    object-fit:cover;
    position: relative;
    top:-60px;
    z-index: 1;
}

#earlyLifeGraphicDesign p{
    width: 70%;
    text-align: justify;
    text-justify: inter-word;
    margin: auto;
    position: relative;
    top: -30px;
}