/* Body settings */

:root{
    --pink:#FF6699;
    --green:#16FFBD;
    --black:#0D0916;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

   
}

@font-face {
    font-family: Manrope;
    src: url(Manrope[wght].woff2);
    font-family: 'Pirata One', cursive;
}

body{
    font-family: Manrope;
    background-color: var(--green);

}

.container{
    scroll-snap-type: y proximity;
}

.child{
    scroll-snap-align: center;
}



/* First Page */

#intro{
    width: 90%;
    margin: auto;
    margin-top: 88px;

}


#introHeader h5{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.5em;
    padding-left: 8px;
    padding-bottom: 5px;
    padding-top: 3px;
    border: 1px solid;
    color: var(--pink);

}

#introHeader h1{
    text-align: right;
    font-weight: 800;
    font-size: 17vw;
    text-transform: uppercase;
    padding-right: 17px;
    border: 1px solid;
    margin-top: -1px;
    color: var(--pink);
    
}

#introHeader{
    margin-bottom: 40px;
}


#introTxt{
    width: 75%;
    margin: auto;
    text-align: justify;
    text-justify: inter-word;

}

#introSklls{
    width: 100%;
    margin: auto;
    margin-top: 50px;
}

#introSklls h2{
    margin-top: 100px;
    background-color: var(--pink);
    color: var(--green);
    text-transform: uppercase;
    font-weight: 800;
    font-size: 30px;
    padding-left: 10px;
    margin-top: 5px;
}

.introPlus{
    width: 90%;
    margin: auto;
    height: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.plusRight{
    float: right;
}
.squareRight{
    background-color: var(--pink);
    width: 10px;
    height: 10px;
    float: right;
    margin-right: 10px;
}

#introSkull{
    display: flex;
    align-items: center;
    justify-content: space-between;  
    width: 90%;
    margin: auto;
    margin-top: 40px;
}

#introSkull p{
    font-family: 'Pirata One', cursive;
    font-size: 24px;
    margin: 10px;
    letter-spacing: 0.15em;
}

#introSkull img{
    width: 20%;
}

#introSkull div{
    height: 1px;
    background-color: var(--pink);
    width: 100px;
}
/* Second Page*/


h3{
    font-size: 100px;
    font-weight: 800;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    z-index: 2;
    color: var(--green);
    transform: rotate(180deg);
    letter-spacing: 0.05em;
   
    

}

#earlyLifeHeader{
    display: flex;
    background-color: var(--pink); 
    margin-top: 50px;
    padding-top: 20px;
    height: 600px;

}



#earlyLifeHeader img{
    object-fit:cover;
    height: 260px;
    float: right;
    max-width: 100%;
    height: 250px;

}

#earlyLifeMusic{
    display: flex;
    text-align: justify;
    text-justify: inter-word;
    flex-direction: column;

}

#earlyLifeMusic p{
    padding: 20px;
    background-color: var(--green);
    position: relative;
    top: -20px;
}

#earlyLifeGraphicDesign{

   position: relative;
   top: -80px;

}

#earlyLifeGraphicDesign img{
    margin: auto;
    object-fit:cover;
    display: block;
    width: 100%;

}

#earlyLifeGraphicDesign p{
    width: 70%;
    margin:auto;
    text-align: justify;
    text-justify: inter-word;
    padding: 30px;
}
/*  
@media only screen and (min-width: 600px) {

#intro ,#earlyLife{
    width: 60%;
    margin: auto;

}

#earlyLife{
    width: 50%;
    margin: auto;
}
#earlyLifeMusic img{


  width: 90%;
  margin-left: 7%;

}

#earlyLifeMusic p{


}

#earlyLifeGraphicDesign img{
    width: 60%;

}

h3{
    font-size: 12vh;


}


}
*/